.DS_Store
.docker-build
.sass-cache
.vscode
/dist
/vendor
Force-Refresh-*.zip
README.txt
node_modules
/qa/*
!qa/.gitkeep
.phpunit.result.cache
coverage
tests/e2e/.auth/
/playwright-last-run/
/test-results/*
