<?xml version="1.0"?>
<phpunit
  bootstrap="./test/bootstrap.php"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <coverage cacheDirectory="./coverage"
            processUncoveredFiles="true"
            includeUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true"
  >
  <exclude>
    <directory suffix="Test.php">./includes/*</directory>
  </exclude>
  <report>
      <clover outputFile="clover.xml"/>
      <html outputDirectory="html-coverage" lowUpperBound="50" highLowerBound="90"/>
  </report>
    <include>
        <directory suffix=".php">./includes/*</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Force Refresh PHP">
      <directory>./includes</directory>
    </testsuite>
  </testsuites>
</phpunit>
