<div class="force-refresh-admin-main">
  <div class="force-refresh-admin-main-inner">
    <p>Force all user to manually reload the {{post_type}} "{{post_name}}".</p>
    <div id="force-refresh-admin-page" class="button button-primary">Refresh {{post_type}}</div>
  </div>
</div>