// Color variables
$light_grey : #d8d8d8;

// Viewport variables
$xxs                      : 0;
$xs                       : 610px;
$sm                       : 768px;
$md                       : 992px;
$lg                       : 1200px;

// Include all mixins
@import "force-refresh-base-mixins";

/**
 * Mixin to generate a transition
 *
 * @param     {string}    $transitionProperties...    The properties to animate
 *
 * @return    {void}
 */
@mixin transition($transitionProperties...) {
    -webkit-transition: $transitionProperties;
    -moz-transition: $transitionProperties;
    -ms-transition: $transitionProperties;
    -o-transition: $transitionProperties;
    transition: $transitionProperties;
}

/**
 * Spin for WebKit
 */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * Spin for Firefox
 */
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * Spin for Opera (who's still using this?)
 */
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * Spin for generic stuff
 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo-spin {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-transform-origin: 50% 47.5%;
    -moz-transform-origin: 50% 47.5%;
    -ms-transform-origin: 50% 47.5%;
    -o-transform-origin: 50% 47.5%;
    transform-origin: 50% 47.5%;
}

.notice {
    opacity: 1;

    @include transition(opacity 500ms);
    &.notice-invisible {
        opacity: 0;
    }
    &.notice-hidden {
        display: none;
    }
}

// The main window styles
@import "components/force-refresh-admin-main";

// The meta box styles (available in specific posts)
@import "components/force-refresh-admin-meta-box";

// The WP Admin Bar styles
@import "components/force-refresh-admin-wordpress-admin-bar";