@use '../../utilities/' as utils;

$MAIN_WINDOW_WIDTH: 65%;

// All CSS should be scoped to the admin container
.force-refresh-admin {
  margin-top: 10px;
  width: 100%;

  @include utils.small() {
    align-items: flex-start;
    display: flex;
  }

  .force-refresh-admin__main {
    width: 100%;
    @include utils.small() {
      width: $MAIN_WINDOW_WIDTH;
    }
    @import './admin-main';
  }

  .force-refresh-admin__options {
    width: 100%;
    @include utils.small() {
      width: 100% - $MAIN_WINDOW_WIDTH;
    }
    @import './admin-main-options';
  }
}
