$black: #000;
$dark-grey: #828181;
$medium-grey: #d6d5d3;
$light-grey: #efefef;
$red: #ff3b30;
$yellow: #ffcc00;
$green: #28cd41;
$white: #ffffff;

$status-error: $red;
$status-warning: $yellow;
$status-success: $green;
